<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8" />
    <title>Søknad om ekstra omsorgsdager</title>
    <meta name="subject" content="Søknad om utbetaling av omsorgspenger når arbeidsgiver ikke utbetaler" />
    <meta name="author" content="nav.no" />
    <meta name="description"
          content="Søknad om utbetaling av omsorgspenger når arbeidsgiver ikke utbetaler mottatt {{soknad_mottatt_dag}} {{ soknad_mottatt }}" />
    <bookmarks>
        <bookmark name="Søker" href="#søker" />
        <bookmark name="Fosterbarn" href="#fosterbarn" />
        <bookmark name="Smittevernhensyn" href="#smittevernhensyn" />
        <bookmark name="Utbetalingsperioder" href="#utbetalingsperioder" />
        <bookmark name="Utenlandsopphold" href="#utenlandsopphold" />
        <bookmark name="Arbeidssituasjon" href="#arbeidssituasjon" />
        <bookmark name="Medlemskap" href="#medlemskap" />
        <bookmark name="Annet" href="#annet" />
        <bookmark name="Andre utbetalinger" href="#andreUtbetalinger" />
        <bookmark name="Vedlegg" href="#vedlegg" />
        <bookmark name="Samtykke" href="#samtykke" />
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>
<body>
<h1 id="header">Søknad om utbetaling av omsorgspenger når arbeidsgiver ikke utbetaler</h1>
<p class="nokkelinfo"><strong>Sendt til NAV </strong>{{mottaksUkedag}} {{#tidspunkt søknad.mottatt}}{{/tidspunkt}}</p>
<p class="nokkelinfo">Språk: {{språk}}</p>

<div class="innholdscontainer">
    <div class="person" id="søker">
        <p>Søker</p>
        <p class="navn">{{ søker.formatertNavn }}</p>
        <p>{{ søknad.søker.fødselsnummer  }}</p>
    </div>
    <div class="person" id="fosterbarn">
        {{#if harFosterbarn}}
            <p>Fosterbarn</p>
        {{/if}}
        {{# each søknad.fosterbarn as |barn|}}
            <p>{{ barn.fødselsnummer }}</p>
        {{/each}}
    <br/>
    </div>

    <section id="smittevernhensyn">
        {{#if søknad.hjemmePgaSmittevernhensyn}}
            <h2>Særlige Smittevernhensyn</h2>
            <ul>
                <li>Søker opplyser å være hjemme med barn grunnet smittevernhensyn</li>
                {{#if ikkeHarSendtInnVedlegg}}
                    <li>Bekreftelse fra lege ikke lastet opp. Må ettersendes.</li>
                {{/if}}
            </ul>
        {{/if}}

        {{#if søknad.hjemmePgaStengtBhgSkole}}
            <h2>Stengt barnehage/skole</h2>
            <ul>
                <li>Søker opplyser å være hjemme fra jobb fordi barnehage/skole har vært lokalt stengt</li>
                {{#if ikkeHarSendtInnVedlegg}}
                    <li>Bekreftelse fra barnehage/skole ikke lastet opp. Må ettersendes.</li>
                {{/if}}
            </ul>
        {{/if}}
    </section>

    <section id="utbetalingsperioder">
        <h2>Perioder</h2>
        {{# each søknad.arbeidsgivere as |org|}}
            {{#if org.navn}}
                {{#unless org.organisasjonsnummer}}
                    <h3 class="sporsmalstekst">{{org.navn}} (registrert av søker)</h3>
                {{/unless}}
                {{#if org.organisasjonsnummer}}
                    <h3 class="sporsmalstekst">{{org.navn}} ({{org.organisasjonsnummer}})</h3>
                {{/if}}
            {{/if}}

            <ul>{{# each org.perioder as |p|}}
                <li>
                    Periode: {{#dato p.fraOgMed}}{{/dato}} - {{#dato p.tilOgMed}}{{/dato}}
                    {{#if p.lengde}}
                        <br/>Lengde: {{#varighet p.lengde}}{{/varighet}}
                    {{/if}}
                    {{#if p.antallTimerBorte}}
                        <br/>Antall timer planlagt jobbe: {{#varighet p.antallTimerPlanlagt}}{{/varighet}}
                        <br/>Antall timer borte: {{#varighet p.antallTimerBorte}}{{/varighet}}
                    {{/if}}

                </li>
            {{/each}}
            </ul>
        {{/each}}
    </section>

    <section id="utenlandsopphold">
        {{#if harOpphold}}
            <h2>Utenlandsopphold i perioden</h2>
        {{/if}}
        <ul>
            {{# each søknad.opphold as |o|}}
            <li>
                {{# if o.erEØSLand}}
                    <li>{{o.landnavn}}: {{#dato o.fraOgMed}}{{/dato}} - {{#dato o.tilOgMed}}{{/dato}} <br/></li>
                {{else}}
                    <li>{{o.landnavn}} (utenfor EØS): {{#dato o.fraOgMed}}{{/dato}} - {{#dato o.tilOgMed}}{{/dato}} <br/></li>
                {{/if}}
                </li>
            {{/each}}
        </ul>
    </section>

    <section id="arbeidssituasjon">
        <h2>Arbeidssituasjon</h2>
            {{# each søknad.arbeidsgivere as |org|}}
                {{#if org.navn}}
                    {{#unless org.organisasjonsnummer}}
                        <h3 class="sporsmalstekst">{{org.navn}} (registrert av søker)</h3>
                    {{/unless}}
                    {{#if org.organisasjonsnummer}}
                        <h3 class="sporsmalstekst">{{org.navn}} ({{org.organisasjonsnummer}})</h3>
                    {{/if}}
                {{else}}
                    <h3 class="sporsmalstekst">{{org.organisasjonsnummer}}</h3>
                {{/if}}

                <ul>
                    <li>
                        <p class="sporsmalstekst">Hvor lenge har du jobbet hos arbeidsgiveren din?</p>
                        {{#eqJaNei org.ansettelseslengde.merEnn4Uker "Ja"}}
                            {{#if harVedlegg}}
                                <p>Søker opplyser å ha jobbet mer enn 4 uker. Søker har lastet opp vedlegg til søknaden.</p>
                                <br/>

                            {{else}}
                                <p>Søker opplyser å ha jobbet mer enn 4 uker. Søker har ikke lastet opp vedlegg til søknaden
                                    med forklaring fra arbeidsgiver. Denne må
                                    ettersendes.</p>
                                <br/>
                            {{/if}}
                        {{/eqJaNei}}


                    {{#eqJaNei org.ansettelseslengde.merEnn4Uker "Nei"}}
                        {{#eq org.ansettelseslengde.begrunnelse "ANNET_ARBEIDSFORHOLD"}}
                            <p>Søker opplyser å ha jobbet mindre enn 4 uker, men direkte før det å ha jobbet hos en annen
                                arbeidsgiver. </p>
                        {{/eq}}

                        {{#eq org.ansettelseslengde.begrunnelse "ANDRE_YTELSER"}}
                            <p>Søker opplyser å ha jobbet mindre enn 4 uker, men direkte før det, å ha mottatt dagpenger,
                                sykepenger, pleiepenger, omsorgspenger, opplæringspenger, foreldrepenger eller
                                svangerskapspenger.</p>

                        {{/eq}}

                        {{#eq org.ansettelseslengde.begrunnelse "LOVBESTEMT_FERIE_ELLER_ULØNNET_PERMISJON"}}
                            <p>Søker opplyser å ha jobbet mindre enn 4 uker, men direkte før det, hatt ulønnet permisjon
                                direkte etter en periode med foreldrepenger, for så å ha gjenopptatt arbeidet etter
                                permisjonen.</p>
                        {{/eq}}

                        {{#eq org.ansettelseslengde.begrunnelse "MILITÆRTJENESTE"}}
                            <p>Søker opplyser å ha jobbet mindre enn 4 uker, men direkte før det, vært i
                                militærtjeneste.</p>
                        {{/eq}}

                        {{#eq org.ansettelseslengde.begrunnelse "INGEN_AV_SITUASJONENE"}}
                            <p>Søker opplyser å ha jobbet mindre enn 4 uker, men at ingen av situasjonene beskrevet i
                                søknaden gjelder for han/hun.</p>
                            <div class="fritekst">
                                <p class="sporsmalstekst">
                                    Forklaring:
                                </p>
                                <p class="fritekst_textarea">{{fritekst org.ansettelseslengde.ingenAvSituasjoneneForklaring}}</p>
                            </div>
                        {{/eq}}

                    {{/eqJaNei}}

                    <li>
                        <p class="sporsmalstekst">Har du hatt fravær hos gitt arbeidsgiver fordi du har brukt
                            omsorgsdager?</p>
                        {{ jaNeiSvar org.harHattFraværHosArbeidsgiver}} <br/><br/>
                    </li>

                    <li>
                        <p class="sporsmalstekst">Har arbeidsgiver utbetalt deg lønn for de dagene du har brukt
                            omsorgsdager?</p>
                        {{ jaNeiSvar org.arbeidsgiverHarUtbetaltLønn}} <br/><br/>
                    </li>
                    </li>
                </ul>
            {{/each}}
    </section>

    <section id="medlemskap">
        <h2>Medlemskap</h2>

        <p class="sporsmalstekst">Bodd i utlandet siste 12 månedene?</p>
        {{ jaNeiSvar medlemskap.siste12}}

        <br/><br/>

        <p class="sporsmalstekst">Skal bo i utlandet neste 12 månedene?</p>
        {{ jaNeiSvar medlemskap.neste12}}
        <br/><br/>

        {{#if harBosteder}}
            <h3>Utenlandsopphold i medlemsperioden</h3>
        {{/if}}
        <ul>
            {{# each søknad.bosteder as |b|}}
                <li>
                    {{b.landnavn}}: {{#dato b.fraOgMed}}{{/dato}} - {{#dato b.tilOgMed}}{{/dato}} <br/>
                </li>
            {{/each}}
        </ul>
    </section>

    <section id="annet">
        {{#if inkluderAnnetOverskrift}}
            <h2>Annet</h2>
        {{/if}}
        {{#if erSelvstendigOgEllerFrilanser}}
            <h3>Er selvstendig næringsdrivende og/eller frilanser i tillegg til arbeidstaker?</h3>
            <ul>
                {{#if erSelvstendig}}
                    <li>
                        Ja, er selvstendig næringsdrivende<br/>
                    </li>
                {{/if}}
                {{#if erFrilanser}}
                    <li>
                        Ja, er frilanser<br/>
                    </li>
                {{/if}}
            </ul>
        {{/if}}
    </section>

    <section id="andreUtbetalinger">
        {{#if harSøktAndreYtelser}}
            <h2>Søkt om andre ytelser</h2>
        {{/if}}
        <p>Har søkt om:</p>
        <ul>
            {{# each søknad.andreUtbetalinger as |utbetaling|}}
                <li>
                    {{#storForbokstav utbetaling}}{{/storForbokstav}} <br/>
                </li>
            {{/each}}
        </ul>
    </section>

    <section id="vedlegg">
        {{#if harVedlegg}}
            <h2>Dokumenter</h2>
            <ul>
                {{#each titler.vedlegg as |vedlegg|}}
                    <li><p>{{vedlegg.tittel}}</p></li>
                {{/each}}
            </ul>
        {{/if}}
    </section>

    <section id="samtykke">
        <h2>Samtykke</h2>
        <p class="sporsmalstekst">Har forstått rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr />
        <p class="sporsmalstekst">Har bekreftet opplysninger?</p>
        <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
    </section>
</div>
<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ soknad_id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>

